<pool type='logical'>
  <name>{{ storage_pool_name }}</name>
  <source>
    <name>{{ storage_pool_name }}</name>
  </source>
  <target>
    <path>/dev/{{ storage_pool_name }}</path>
  </target>
</pool>
