{% for zone in bind_zones %}
zone {{ zone }} {
  type master;
  file "{{ bind_zones_dir }}/db.{{zone}}";
  notify no;
};
{% endfor %}

{% for zone in bind_zones_forward %}
zone {{ zone.name }} {
  type forward;
  forwarders { {{ zone.forwarders | join("; ") }}; };
};
{% endfor %}
