listen_addresses = '{{ postgresql_listen_address }}'
wal_level = {{ postgresql_wal_level }}
synchronous_commit = {{ postgresql_synchronous_commit }}
max_wal_senders = {{ postgresql_max_wal_senders }}
wal_keep_segments = {{ postgresql_wal_keep_segments }}
synchronous_standby_names = '{{ postgresql_synchronous_standby_names }}'
hot_standby = {{ postgresql_hot_standby }}
